.btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  border: 1px solid #cecece;
  border-radius: 7px;
  padding: 7px 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn--primary {
  background-color: rgb(47, 47, 47);
  color: #fff;
  border: none;
}

.btn--success {
  background-color: yellowgreen;
  color: #fff;
  border: none;
}

.btn--danger {
  background-color: tomato;
  color: #fff;
  border: none;
}

.btn--pay {
  background-color: rgb(255, 98, 0);
  color: #000;
  border: none;
}

.btn--text {
  background-color: transparent;
  color: #000;
  border: none;
}

.btn--link {
  background-color: transparent;
  color: #000;
  border: none;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.btn--transparent {
  background-color: transparent;
  border: none;
}

.btn--unavailable {
  background: linear-gradient(
      235deg,
      rgba(202, 30, 163, 0.49) 0%,
      transparent 35%,
      rgba(228, 17, 59, 0.99) 55.00000000000001%,
      rgba(105, 22, 155, 0.24) 55.00000000000001%,
      rgb(196, 19, 95) 100%
    ),
    linear-gradient(120deg, rgb(171, 18, 78) 0%, rgb(205, 17, 86) 25%, rgb(167, 15, 56) 25%, rgb(232, 30, 128) 100%);

  border-radius: 30px;
}

.btn--medium {
  font-size: 18px;
}

.btn--large {
  padding: 8px 18px;
  font-size: 18px;
}

button:disabled {
  border: 2px solid red;
}
