.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__controllers {
  margin-bottom: 20px;
}

.game__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.game__area {
  display: flex;
  max-width: 550px;
  min-height: 550px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
}

.game__area__diamond {
  transition: opacity 0.3s ease;
}

.game__area__diamond--unavailable {
  opacity: 0;
}

.game__area__diamond--clicked {
  opacity: 1;
}
